h2 {
	padding: 1.5rem;
	font-size: 2rem;
	width: 95%;
	text-align: left;
	font-style: italic;
}

.gifGrid {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 95%;
	gap: 1rem;
}

.loader {
	margin: auto;
	display: flex;
	align-items: center;

	justify-content: center;
	gap: 0.6rem;
	font-size: 1.8rem;
}

.removeCategory {
	width: 50%;
	height: 3rem;
	font-size: 1.5rem;
	border-radius: 25px;
	padding: 0.3rem;
	margin: 3rem;
	background-color: black;
	color: white;
	cursor: pointer;
	border: none;
	transition: background 300ms ease;
}

.removeCategory:hover {
	background-color: red;
}
